@import 'fonts';
@import 'icons';

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1320;
$md1: $maxWidthContainer + 30;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;
$md5: 419.98;

$fontFamily: 'Geometria', sans-serif;

@import 'null';

body {
    font-family: $fontFamily;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    @media (max-width: ($md1 + px)) {
        max-width: none;
        margin: 0 15px;
    }
}

@import './sections/header';
@import './sections/intro';
@import './sections/about';
@import './sections/nika';
@import './sections/stylist';
@import './sections/order';
@import './sections/footer';
