.intro {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    &__content {
        padding: 400px 20px 315px 20px;
        margin-left: 90px;
        margin-right: 89px;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        position: relative;
        @media (max-width: ($md3 + px)) {
            margin: 0;
            border: none;
        }
    }
    &__title {
        font-size: 84px;
        line-height: 126 / 84 * 100%;
        color: white;
        text-align: center;
        margin-bottom: 49px;
        position: relative;
        display: flex;
        justify-content: center;
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 400px;
            background-color: white;
            position: absolute;
            bottom: 0;
            @media (max-width: ($md3 + px)) {
                width: 250px;
            }
        }
        @media (max-width: ($md3 + px)) {
            font-size: 54px;
        }
        @media (max-width: ($md4 + px)) {
            font-size: 34px;
        }
    }
    &__subtitle {
        font-size: 34px;
        line-height: 41 / 34 * 100%;
        color: white;
        text-align: center;
        @media (max-width: ($md3 + px)) {
            font-size: 28px;
        }
    }
    &__socials {
        display: flex;
        flex-direction: column;
        gap: 65px;
        position: absolute;
        bottom: 65px;
        right: -60px;
        li {
            a {
                &:before {
                    color: white;
                    font-size: 30px;
                }
            }
        }
        @media (max-width: ($md3 + px)) {
            right: 20px;
        }
    }
}
