.intro {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    &__logo {
        display: block;
        margin: 0 auto 33px auto;
        @media (max-width: ($md3 + px)) {
            width: 171px;
        }
        @media (max-width: ($md5 + px)) {
            width: 71px;
            margin: 0 auto 4px auto;
        }
    }
    &__content {
        padding: 400px 20px 315px 20px;
        //margin-left: 90px;
        //margin-right: 89px;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-color: transparent;
        position: relative;
        @media (max-width: ($md5 + px)) {
            padding: 119px 0 101px 0;
            //margin-left: 53px;
            //margin-right: 52px;
        }
    }
    &__title {
        font-size: 84px;
        line-height: 126 / 84 * 100%;
        color: white;
        text-align: center;
        margin-bottom: 49px;
        position: relative;
        display: flex;
        justify-content: center;
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 400px;
            background-color: white;
            position: absolute;
            bottom: -24px;
            @media (max-width: ($md3 + px)) {
                width: 250px;
            }
            @media (max-width: ($md5 + px)) {
                width: 200px;
                bottom: -20px;
            }
        }
        @media (max-width: ($md3 + px)) {
            font-size: 54px;
        }
        @media (max-width: ($md4 + px)) {
            font-size: 34px;
        }
        @media (max-width: ($md5 + px)) {
            font-size: 28px;
            margin-bottom: 41px;
        }
    }
    &__subtitle {
        font-size: 34px;
        line-height: 41 / 34 * 100%;
        color: white;
        text-align: center;
        @media (max-width: ($md3 + px)) {
            font-size: 28px;
        }
        @media (max-width: ($md5 + px)) {
            font-size: 18px;
        }
    }
    &__socials {
        display: flex;
        flex-direction: column;
        gap: 65px;
        position: absolute;
        bottom: 65px;
        right: 60px;
        @media (max-width: ($md5 + px)) {
            gap: 28px;
            bottom: 22px;
        }
        li {
            a {
                &:before {
                    color: white;
                    font-size: 30px;
                }
            }
        }
        @media (max-width: ($md5 + px)) {
            right: 0px;
        }
    }
}
